
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
h3 {
  font-family: 'Poller One';
  font-size: 50px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 #ffe81f, 2px -2px 0 #ffe81f, -2px 2px 0 #ffe81f, -2px -2px 0 #ffe81f, 2px 0px 0 #ffe81f, 0px 2px 0 #ffe81f, -2px 0px 0 #ffe81f, 0px -2px 0 #ffe81f;

}
.planetName {
  display: inline-block;
  flex-direction: row;
  margin: 5px;
}
ul {
  list-style: none;
}
li {
  color: #1C6EA4;
  list-style: none;
  font-size: 30px;
  margin: 20px;
}
.description {
  display: none;
}

button {
  font-size: 25px;
  line-height: 30px;
  padding: 6px;
  border-radius: 30px;
  font-family: 'Poller One';
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  font-variant: small-caps;
  text-transform: capitalize;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  /* border: 2px solid rgb(28, 110, 164); */
  outline: none;
  text-shadow: 2px 2px 0 #ffe81f, 2px -2px 0 #ffe81f, -2px 2px 0 #ffe81f, -2px -2px 0 #ffe81f, 2px 0px 0 #ffe81f, 0px 2px 0 #ffe81f, -2px 0px 0 #ffe81f, 0px -2px 0 #ffe81f;

}
button:hover {
  background: black;
}
button:active {
  background: red;
}

.text button {
  margin: 5px;
}
.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 50%;
}
/* ===================================== */
.carousel-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.carousel-images {
  width: 80%;
  background: black;
  padding: 10px;
  border-radius: 1000px;
}
.carousel-images img {
  width: 100%;
  border-radius: 1000px;
  display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
.carousel-images div{
  background-image: url("imgs/stars2.jpg");
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  color: white;
}
.carousel-button {
  align-self: center;
  background: #ffe81f;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #ffe81f;
}
.carousel-button:hover {
  cursor: pointer;
  background: red;
  box-shadow: 1px 1px red;
}
/* =================================MODAL============================= */

body {
	background-image: url("imgs/stars2.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  text-align: center;
}

.modal-textbox {
	height: 550px;
	width: 550px;
	border-radius: 50px;
	margin: 850px auto;
  font-family: 'Poller One';
  color: #FFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
